<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Genero:</ion-label>
  <ion-text>{{ generoSeleccionado }}</ion-text>
</ion-item>

<ion-content>
  <ion-item>
    <ion-label>Usuario:</ion-label>
    <ion-text>{{ nombreUsuario }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Edad:</ion-label>
    <ion-text>{{ edad }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Altura:</ion-label>
    <ion-text>{{ altura }}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Peso:</ion-label>
    <ion-text>{{ peso }}</ion-text>
  </ion-item>
</ion-content>
