<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cal-imc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2> Calcule su IMC </h2>

  <ion-item>
    <ion-label size="3">Altura (CM): </ion-label>
    <ion-col size="9">
      <ion-input type="number" placeholder="Ingrese su altura"></ion-input>
    </ion-col>
  </ion-item>

  <ion-item>
    <ion-label size="3">Peso (KG): </ion-label>
    <ion-col size="9">
      <ion-input type="number" placeholder="Ingrese su peso"></ion-input>
    </ion-col>
  </ion-item>

  <ion-item>
    <ion-button>Calcular IMC</ion-button>
  </ion-item>
  <br>

  <ion-item>
    <ion-label>Su IMC es: </ion-label>
  </ion-item>


</ion-content>
