<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="form-container">
    <ion-label class="lab-nombre" position="stacked">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="nombre" type="text" placeholder="Ingrese su Nombre"></ion-input>
  </ion-item>
  <br>
    <ion-button class="btn-siguiente" expand="block" shape="round" color="light" [routerLink]="'/home'">
      <ion-icon slot="start" name="chevron-forward"></ion-icon>
    </ion-button>

</ion-content>
